<h1>Discounts Index Page</h1>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <%= link_to discount.name, "/merchant/discounts/#{discount.id}" %></br></br>
  </section>
<% end %></br></br>