<h1><%= @discount.name %> Show Page</h1>

<h2>Discount Details:</h2></br>
  <ul>
    <li>Description: <%= @discount.description %></li>
    <li>Discount Amount: <%= @discount.discount_amt %></li>
    <li>Required Item Qty for Discount: <%= @discount.req_qty %></li>
  </ul>
